@charset "utf-8";

body{
    background-color: #9fb6c4;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #0641c0;
}

h1#principal{
    text-align: center;
    color: white;
    background-color:  #0a6da791;
}    

h2{
    color: rgb(107, 93, 11);
}

.basico{
    color: rgb(7, 138, 46);
    }

.intermediario{
       color: rgb(238, 234, 9);
}

.avancado{
    color: rgb(245, 5, 5);
}

.destaque{
    background-color: rgb(20, 190, 220);
}
